* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    background: linear-gradient(221deg,
            rgba(255, 255, 255, 1) 15%,
            rgba(2, 178, 255, 1) 80%);
    border-bottom: solid 2px #000000;
}

.titulo {
    font-size: 30px;
    color: #000000;
    padding: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

#cerrar-sesion {
    padding-top: 10px;
    text-align: center;
    font-size: 15px; 
    width: 150px;
    height: 30px;
    margin-top: 30px;
    margin-right: 2%;
    float: right;
    color: #fff; 
    background-color: #00ACEC;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.71);
    transition: 0.2s;
    transition-property: background; 
}

#cerrar-sesion:hover {
    background-color: #ff0000;

}

a:link {
    text-decoration: none;
}

.h2-titulo {
    font-size: 25px;
    text-align: center;
    color: #000000;
    padding: 30px;
    font-weight: 400;
}

.img {
    width: 200px;
    height: 90px;
    float: left;
} 

.bloque {
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.input {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    height: 40px;
    outline: none;
    font-size: 15px;
    border-radius: 3px;
    border: solid 1px #00ACEC;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.71);
}

table {
    border-collapse: collapse;
    border: solid 1px #00ACEC; 
    font-size: 15px;
}

th {
    text-align: center;
    border: 1px solid #99e0ff;
    background-color: #00ACEC;
    font-weight: 400;
    font-size: 13px;
    padding: 8px;
    text-transform: uppercase;
}

td {
    border: 1px solid #8ce4ff;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #afe7ff;
}

.excusas {
    padding: 10px 20px;
    color: #fff;
    background-color: #00ACEC;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.71);
    margin: 5px;
    font-weight: 300;
    transition: 0.2s;
    transition-property: background;
}

.excusas:hover {
    background-color: #B5C808;
}

.atras {
    padding: 10px 30px;
    color: #fff;
    background-color: #00ACEC;
    border-radius: 3px;
    font-weight: 300;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.71);
    margin: 5px;
    transition: 0.2s;
    transition-property: background;
}

.atras:hover {
    background-color: #ff0000;
}
